<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>서울새활용플라자</title>
<!-- <link rel="stylesheet" href="../css/jquery.bxslider.css"> -->
<link rel="stylesheet" href="../css/SUP_Display.css">

	<!--[if lt IE 9]>
      <script src="../js/reset/html5shiv.js"></script>
      <script src="../js/reset/respond.min.js"></script>
      <script src="../js/reset/IE9.js"></script>
    <![endif]-->
</head>
<body>
    <div id="main_wrap">
    <!--  Header 영역  -->

    <!--  //Header 영역  -->
    <!--  Main section 영역  -->
    <section id="section">
        <article class="Display Education">
            <div class="content_h3bx">
                <h3>교육실(4~5F)</h3>
                <ul class="route">
                    <li>홈</li>
                    <li>공간/시설</li>
                    <li>교육실</li>
                </ul>
            </div>

            <div class="content_text">
              <p>'새활용 체험 교육 프로그램 운영, 새활용 스튜디오 그룹 강좌,<br>
              새활용 관련 단체 및 기관 대관'</p>
            </div>
            
            <section class="sub_slider slider1">
              <img width="100%" height="100%" src="../img/display/display_Education_1.jpg"/>
              <img width="100%" height="100%" src="../img/display/display_Education_2.jpg"/>
              <img width="100%" height="100%" src="../img/display/display_Education_3.jpg" class="left"/>
              <img width="100%" height="100%" src="../img/display/display_Education_4.jpg" class="center"/>
              <img width="100%" height="100%" src="../img/display/display_Education_5.jpg" class="right"/>
              <img width="100%" height="100%" src="../img/display/display_Education_6.jpg"/>
              <img width="100%" height="100%" src="../img/display/display_Education_7.jpg"/>
              <img width="100%" height="100%" src="../img/display/display_Education_8.jpg"/>
            </section>

            <!--<div class="slide_thumbnail">
              <img width="100%" height="100%" src="../img/display/display_Education_1.jpg"/>
              <img width="100%" height="100%" src="../img/display/display_Education_2.jpg"/>
              <img width="100%" height="100%" src="../img/display/display_Education_3.jpg" class=""/>
              <img width="100%" height="100%" src="../img/display/display_Education_4.jpg" class=""/>
              <img width="100%" height="100%" src="../img/display/display_Education_5.jpg" class=""/>
              <img width="100%" height="100%" src="../img/display/display_Education_6.jpg"/>
              <img width="100%" height="100%" src="../img/display/display_Education_7.jpg"/>
              <img width="100%" height="100%" src="../img/display/display_Education_8.jpg"/>
            </div>-->

           <div class="text_box">
				<div class="text_box_inside">
				<table>
				<tr>
					<td>시설명</td>
					<th>교육실(4층)</th>
					<th>교육실(5층)</th>
				</tr>
				<tr>
					<td>면적</td>
					<td>142㎡</td>
					<td>205㎡</td>
				</tr>
				<tr>
					<td>수용인원</td>
					<td>30~40</td>
					<td>50</td>
				</tr>
				<tr>
					<td>시설장비</td>
					<td>빔프로젝트, 스크린, 음향장비 및 의자, 책상</td>
					<td>빔프로젝트</td>
				</tr>
				<tr>
					<td>기준시간</td>
					<td>기본3시간</td>
					<td>기본3시간</td>
				</tr>
				<tr>
					<td>시간당 요금</td>
					<td>10,000원</td>
					<td>15,000원</td>
				</tr>
				 </table>
				</div>
			</div>

			<style>
				.text_box_inside{width:80%;}
				.text_box_inside table{width:100%;}

			</style>

        </article>
    </section>
    <!--  //Main section 영역  -->
    <!--  Footer 영역  -->

    <!--  //Footer 영역  -->
    </div>
    <script src="../js/jquery-1.12.4.min.js"></script>
   
    <script src="../js/slider.jquery.js"></script>

    <script>
      
      $('.slide_thumbnail img').click(function(){

        var num = $(this).index() + 1;
        var img = $('.sub_slider img' + num);

        $('.sub_slider img').removeClass();

        $('.sub_slider img:nth-of-type('+ Number(num) + ')').addClass('center');

        if($(this).index() == $('.slide_thumbnail img').length){
          $('.sub_slider img:nth-of-type(1)').addClass('right');
          console.log('asdasdasd');
        }else{
          $('.sub_slider img:nth-of-type('+ Number(num+1) +')').addClass('right');
        }

        if($(this).index() == 1){
          $('.sub_slider img:nth-of-type('+ Number($('.slide_thumbnail img').length) + ')').addClass('left');
        }else{
          $('.sub_slider img:nth-of-type('+ Number(num-1) +')').addClass('left');
        }

      });


      $('.next').on('click',function(){
        console.log('asd');
        $('.rightClass').trigger('click');
      });

      $('.prev').on('click',function(){
        console.log('asd');
        $('.leftClass').trigger('click');
      });

    </script>
</body>