<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>서울새활용플라자</title>
<!-- <link rel="stylesheet" href="../css/jquery.bxslider.css"> -->
<link rel="stylesheet" href="../css/SUP_Display.css">

	<!--[if lt IE 9]>
      <script src="../js/reset/html5shiv.js"></script>
      <script src="../js/reset/respond.min.js"></script>
      <script src="../js/reset/IE9.js"></script>
    <![endif]-->
</head>
<body>
    <div id="main_wrap">
    <!--  Header 영역  -->

    <!--  //Header 영역  -->
    <!--  Main section 영역  -->
    <section id="section">
        <article class="Display Fablab">
            <div class="content_h3bx">
                <h3>꿈꾸는 공장</h3>
                <ul class="route">
                    <li>홈</li>
                    <li>공간/시설</li>
                    <li>팹랩</li>
                </ul>
            </div>

            <div class="content_text">
              <p>지속 가능한 사회를 위한 제품과 서비스를 만들고 교육하는 창의적 팹랩(FAB LAB) 공간(2018년 5월 말 개관 예정)</p>
            </div>
            
            <section class="sub_slider slider1">
              <img width="100%" height="100%" src="../img/display/display_fablab_4.jpg"/>
              <img width="100%" height="100%" src="../img/display/display_fablab_3.jpg"/>
              <img width="100%" height="100%" src="../img/display/display_fablab_2.jpg" />
              <img width="100%" height="100%" src="../img/display/display_fablab_1.jpg"/>
              <img width="100%" height="100%" src="../img/display/display_fablab_5.jpg" class="left"/>
              <img width="100%" height="100%" src="../img/display/display_fablab_6.jpg" class="center">
              <img width="100%" height="100%" src="../img/display/display_fablab_7.jpg" class="right"/>
            </section>
            <style>
             	.text_box_inside{width:80%;}
            	.text_box_inside table{width:100%;}
           
            </style>
            
           <div class="text_box">
				<div class="text_box_inside">
				<table>
				<tr>
					<td>시설명</td>
					<th>꿈꾸는 공장</th>
				</tr>
				<tr>
					<td>운영시간</td>
					<td>10:00 - 18:00(월~금)</td>
				</tr>
				<tr>
					<td>휴관일</td>
					<td>매주 토, 일요일 및 공휴일</td>
				</tr>
				<tr>
					<td>담당자 안내</td>
					<td>02-2153-0415</td>
				</tr>
				 </table>
				</div>
			</div>
            <!--<div class="slide_thumbnail">
              <img width="100%" height="100%" src="../img/display/display_fablab_4.jpg"/>
              <img width="100%" height="100%" src="../img/display/display_fablab_3.jpg"/>
              <img width="100%" height="100%" src="../img/display/display_fablab_2.jpg" class=""/>
              <img width="100%" height="100%" src="../img/display/display_fablab_1.jpg" class=""/>
              <img width="100%" height="100%" src="../img/display/display_fablab_5.jpg" class=""/>
              <img width="100%" height="100%" src="../img/display/display_fablab_6.jpg"/>
              <img width="100%" height="100%" src="../img/display/display_fablab_7.jpg"/>
            </div>-->

            <!--<div class="text_box">
				<div class="text_box_inside">
				</div>
            </div>-->

        </article>
    </section>
    <!--  //Main section 영역  -->
    <!--  Footer 영역  -->

    <!--  //Footer 영역  -->
    </div>
    <script src="../js/jquery-1.12.4.min.js"></script>
  
    <script src="../js/slider.jquery.js"></script>

    <script>
      
      $('.slide_thumbnail img').click(function(){

        var num = $(this).index() + 1;
        var img = $('.sub_slider img' + num);

        $('.sub_slider img').removeClass();

        $('.sub_slider img:nth-of-type('+ Number(num) + ')').addClass('center');

        if($(this).index() == $('.slide_thumbnail img').length){
          $('.sub_slider img:nth-of-type(1)').addClass('right');
          console.log('asdasdasd');
        }else{
          $('.sub_slider img:nth-of-type('+ Number(num+1) +')').addClass('right');
        }

        if($(this).index() == 1){
          $('.sub_slider img:nth-of-type('+ Number($('.slide_thumbnail img').length) + ')').addClass('left');
        }else{
          $('.sub_slider img:nth-of-type('+ Number(num-1) +')').addClass('left');
        }

      });


      $('.next').on('click',function(){
        console.log('asd');
        $('.rightClass').trigger('click');
      });

      $('.prev').on('click',function(){
        console.log('asd');
        $('.leftClass').trigger('click');
      });

    </script>
</body>