<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>서울새활용플라자</title>
<!-- <link rel="stylesheet" href="../css/jquery.bxslider.css"> -->
<link rel="stylesheet" href="../css/SUP_Display.css">

	<!--[if lt IE 9]>
      <script src="../js/reset/html5shiv.js"></script>
      <script src="../js/reset/respond.min.js"></script>
      <script src="../js/reset/IE9.js"></script>
    <![endif]-->
</head>
<body>
    <div id="main_wrap">
    <!--  Header 영역  -->

    <!--  //Header 영역  -->
    <!--  Main section 영역  -->
    <section id="section">
        <article class="Display Outdoors">
            <div class="content_h3bx">
                <h3>야외시설</h3>
                <ul class="route">
                    <li>홈</li>
                    <li>공간/시설</li>
                    <li>야외시설</li>
                </ul>
            </div>

            <div class="content_text">
              <p>'직접 만들고 직접 키우는 다양한친환경 상품을 만날 수 있는 새활용 마켓'</p>
            </div>
            
            <section class="sub_slider slider1">
			  <img width="100%" height="100%" src="../img/display/display_Outdoors_2.jpg" class="left"/>
              <img width="100%" height="100%" src="../img/display/display_Outdoors_1.jpg" class="center"/>
              <img width="100%" height="100%" src="../img/display/display_Outdoors_3.jpg" class="right"/>
            </section>

            <!--<div class="slide_thumbnail">
              <img width="100%" height="100%" src="../img/display/display_Outdoors_1.jpg" class=""/>
              <img width="100%" height="100%" src="../img/display/display_Outdoors_2.jpg" class=""/>
              <img width="100%" height="100%" src="../img/display/display_Outdoors_3.jpg" class=""/>
            </div>-->

            <div class="text_box">
				<div class="text_box_inside">
				  <p>운영시간｜매달 첫째주 주말(토,일) 10:00 - 18:00</p>
				  <p>입장료｜무료</p>
				  <p>
					작가들이 손수 만든 상품을 중심으로 유기농, 친환경 먹거리,
					<br>
					농 · 특산물 등을 즐길 수 있는 체험형 마켓입니다.
				  </p>
				</div>
			</div>

        </article>
    </section>
    <!--  //Main section 영역  -->
    <!--  Footer 영역  -->

    <!--  //Footer 영역  -->
    </div>
    <script src="../js/jquery-1.12.4.min.js"></script>
  
    <script src="../js/slider.jquery.js"></script>

    <script>
      
      $('.slide_thumbnail img').click(function(){

        var num = $(this).index() + 1;
        var img = $('.sub_slider img' + num);

        $('.sub_slider img').removeClass();

        $('.sub_slider img:nth-of-type('+ Number(num) + ')').addClass('center');

        if($(this).index() == $('.slide_thumbnail img').length){
          $('.sub_slider img:nth-of-type(1)').addClass('right');
          console.log('asdasdasd');
        }else{
          $('.sub_slider img:nth-of-type('+ Number(num+1) +')').addClass('right');
        }

        if($(this).index() == 1){
          $('.sub_slider img:nth-of-type('+ Number($('.slide_thumbnail img').length) + ')').addClass('left');
        }else{
          $('.sub_slider img:nth-of-type('+ Number(num-1) +')').addClass('left');
        }

      });


      $('.next').on('click',function(){
        console.log('asd');
        $('.rightClass').trigger('click');
      });

      $('.prev').on('click',function(){
        console.log('asd');
        $('.leftClass').trigger('click');
      });

    </script>
</body>