<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>서울새활용플라자</title>
<link rel="stylesheet" href="../css/SUP_Introduction.css">

	<!--[if lt IE 9]>
      <script src="../js/reset/html5shiv.js"></script>
      <script src="../js/reset/respond.min.js"></script>
      <script src="../js/reset/IE9.js"></script>
    <![endif]-->
</head>



<body>
    <div id="intro_wrap">
    <?php include('../includes/header.php'); ?>

    <!--  Main section 영역  -->
    <section id="section">
        <article class="intro">
            <div class="content_h3bx">
                <h3>새활용거리</h3>
                <ul class="route">
                    <li>홈</li>
                    <li>SUP소개</li>
                    <li>새활용거리</li>
                </ul>
            </div>
            <div class="street_area">
                <div class="box_street clear">
                  <div class="box_left">
                      <h4>새활용거리</h4>
                      <p>서울새활용플라자 주변 환경 개선을 위해 새활용플라자 진입도로(290m)에 대해 환경개선 공사를 실시하여 쾌적하고 안전한 보행 환경을 조성했으며, 업사이클링 개념의 홍보 및 이해를 도울 수 있는 시설물을 설치했습니다.</p>
                      
                  </div>
                  <div class="box_right clear"><img src="../img/introduction/img_street_01.png" alt="새활용거리 사진"></div>
                </div>
                <ul class="list_street clear">
                  <li>
                    <img src="../img/introduction/img_street_08.png" alt="업싸이클 아이콘">
                    <h5>상징성</h5>
                    <p>업사이클 개념을 접목한</p>
                    <p>보행접근로</p>
                  </li>
                  <li>
                    <img src="../img/introduction/img_street_09.png" alt="여러 사람이 서있는 아이콘">
                    <h5>소통성</h5>
                    <p>도시와 주민이 참여하는</p>
                    <p>함께 만드는 거리</p>
                  </li>
                  <li>
                    <img src="../img/introduction/img_street_10.png" alt="유지보수 아이콘">
                    <h5>지속가능성</h5>
                    <p>안정적이고 견고한 디자인의</p>
                    <p>유지보수가 쉬운 거리</p>
                  </li>
                </ul>
                <div class="box_street clear">
                  <div class="box_left">
                      <h4>새활용거리</h4>
                      <p>화장품 사용 후 수거한 공병을 재사용하여 만든 업사이클링 트리로서 낮에는 업사이클 조형물, 밤에는 라이팅 조형물로 다양한 체험을 할 수 있습니다.</p>
                      
                  </div>
                  <div class="box_right clear box_img2n"><img src="../img/introduction/img_street_02.png" alt="새활용거리 사진"><img src="../img/introduction/img_street_03.png" alt="새활용거리 사진"></div>
                </div>
                <div class="box_street clear">
                  <div class="box_left">
                      <h4>슈퍼그래픽</h4>
                      <p>새활용 문화확산과 인지도 제고를 위해 공공미술추진단체 POW!WOW! KOREA와 협업하여 새활용거리 옆 염화칼슘창고 벽면에 슈퍼그래픽 작업을 추진했습니다.</p>
                      
                  </div>
                  <div class="box_right clear"><img src="../img/introduction/img_street_04.png" alt="새활용거리 사진"></div>
                </div>
                <div class="box_street clear">
                  <div class="box_left">
                      <h4>스핀팬스, 실로폰팬스</h4>
                      <p>아이들을 위한 업사이클 테마 공간으로서 페인트 통을 돌려가며 그림 및 글자를 만드는 스핀펜스, 실로폰의 원리를 차용한 실로폰 팬스 등을 조성했으며, 놀이, 체험 위주의 업사이클 펜스를 통해 즐거움을 체험할 수 있는 공간입니다. 폐타이어를 조경박스로 업사이클링 하여 거리 컨셉에 부합하도록 꾸몄습니다.</p>
                      
                  </div>
                  <div class="box_right clear box_img2n"><img src="../img/introduction/img_street_05.png" alt="새활용거리 사진"><img src="../img/introduction/img_street_06.png" alt="새활용거리 사진"></div>
                </div>
                <div class="box_street clear">
                  <div class="box_left">
                      <h4>매대부스 컨테이너</h4>
                      <p>재활용 컨테이너를 활용한 종합안내소 및 입주 스튜디오용 매대부스로, 이동이 가능하여 각종 이벤트 및 행사에 유연하게 대처가 가능하며 '서울시 상징색 적용 가이드라인'에 준수 색채를 활용하였습니다.</p>
                      
                  </div>
                  <div class="box_right clear"><img src="../img/introduction/img_street_07.png" alt="새활용거리 사진"></div>
                </div>
            </div>
        </article>
    </section>
    <!--  //Main section 영역  -->
    <!-- <?php include('../includes/footer.php'); ?>-->
    </div>




    <script src="../js/jquery-1.12.4.min.js"></script>
   
    <script src="../js/slider.jquery.js"></script>

    <!-- 시연 링크 -->
    <script src="../js/link.js"></script>
</body>
</html>