<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>서울새활용플라자</title>
<link rel="stylesheet" href="../css/SUP_Introduction.css">

	<!--[if lt IE 9]>
      <script src="../js/reset/html5shiv.js"></script>
      <script src="../js/reset/respond.min.js"></script>
      <script src="../js/reset/IE9.js"></script>
    <![endif]-->
</head>
<body>
    <div id="intro_wrap">
    <!--  Main section 영역  -->
    <section id="section">
        <div class="intro introduction">
            <div class="content_h3bx">
                <h3>새활용이란</h3>
                <ul class="route">
                    <li>홈</li>
                    <li>SUP소개</li>
                    <li>새활용이란</li>
                </ul>
            </div>
            <div class="con">
                <div class="sup_summary_list">
<!--                    <div class="summary_tit">새활용이란</div>-->
                    <div class="summary_con01">
                        <dl>
                            <dt><img src="../img/introduction/sum_ban_tit01.jpg"></dt>
                                                                    <dd>새활용이란, 버려지는 자원에 디자인을 더하거나 활용방법을 바꿔 새로운 가치를 만들어내는 업사이클링(Upcycling)의 우리말입니다.</dd>
                            <dd>물건을 처음 만들 때부터 환경과 자연을 생각하며 쓸모가 없어진 후까지 고려하는 것, 물건을 가치 있게 오래 사용하도록 의미를 담아 만드는 것까지. </dd>
                            <dd>새활용은 환경을 지키고 자원순환을 실천할 수 있는 자원순환의 새로운 방법입니다</dd>
                                                                </dl>
                    </div>
                    <div class="summary_con02">
                        <dl>
                            <dt><img src="../img/introduction/sum_ban_tit02.jpg"></dt>
                            <dd><img src="../img/introduction/sum_ban_tit03.jpg"></dd>
                        </dl>
                    </div>
					<!--
                    <div class="summary_con03" style="display: none;">
                        <ul>
                            <li><img src="../img/introduction/bus_st_under.jpg"></li>
                            <li class="sum_tit">재활용을 넘어 재활용의 업그레이드 새활용</li>
                            <li>
                                <dl>
                                                                                    <dt>이제는 서울새활용플라자와 시민이 함께 만듭니다.</dt>
                                    <dd>재활용(Recycling)은 '질과 가치'가 떨어지는 활용방식(Downcycle)이기 때문에 폐기물의 새로운 활용방식이 필요합니다</dd>
                                    <dd>재활용Recycling 과정 , 곧 폐기물을 잘게 쪼개거나 녹이는 과정에서 소비되는 에너지와 발생하는 공해물질에 대한 우려 , 그리고 재활용된</dd> 
                                    <dd>소재로 만들어진 새로운 상품의 품질이 떨어질 수 밖에 없는 재활용의 법칙에 대한 대안이 새활용(Upcycling)입니다.</dd>
                                    <dd>재활용(Recycling)에 디자인Design을 더해 가치를 높이는 활동(Upgrade)은 새활용 라이프 스타일을 만드는 작은 실천이자 지구와 인류를 위해 할 수 </dd>
                                    <dd>있는 가장 중요한 일입니다.</dd>
                                                                                </dl>
                            </li>
                        </ul>
                    </div>
					-->
                    <br>
                    <br>

                </div>
                <div class="cmm_footer_null">&nbsp;</div>
            </div>
        </div>
    </section>
    
    <!--  //Main section 영역  -->
    </div>
    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/jquery.bxslider.min.js"></script>
</body>