<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>서울새활용플라자</title>
<link rel="stylesheet" href="../css/SUP_studio.css">

	<!--[if lt IE 9]>
      <script src="../js/reset/html5shiv.js"></script>
      <script src="../js/reset/respond.min.js"></script>
      <script src="../js/reset/IE9.js"></script>
    <![endif]-->
    <script type="text/javascript" >
		$(function(){
			
			
			$("#bbtn").click(function(){
				location.href="/book.do?type=rent";
			});
	
			
			
		});
		
	</script>
	<style>
		.Rent .topBox .rentBox div.btn{margin-top:-11px;}
		.Rent .topBox .rentBox .rentTable{margin-top:40px;}
	</style>
    
</head>
<body>
    <div id="reserve_wrap">

    <!--  Main section 영역  -->
    <section id="section">
        <article class="studio Rent">
            <div class="content_h3bx">
                <h3>대관</h3>
                <ul class="route">
                    <li>홈</li>
                    <li>주요사업</li>
                    <li>대관</li>
                </ul>
            </div>
                
                <div class="topBox clear">
                    <div class="rentBox">
<!--                        <div class="imgbox" style="height:100%"><img src="/img/studio/img_studio.JPG" alt="대관이미지" style="width:100%"></div>-->
                        <h4>대관 문의</h4> 
                        <p style="display:inline-block;font-size:22px;font-weight:600;">서울디자인재단 공간마케팅팀 02-2153-0419<br><span style="font-size:16px;font-weight:normal;">* 대관신청은  신청서에서만 신청가능합니다. (전화신청받지 않음)</span></p> 
                        <div class="btn"><button id="bbtn">대관 예약하기</button></div>
                        <table class="rentTable">
                            <thead>
                                <tr>
                                    <th>총</th>
                                    <th>명칭</th>
                                    <th>면적</th> 
                                    <th>수용인원</th>
                                    <th>장비</th>
                                    <th>기준 시간 및 사용 요금 (VAT포함)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>미디어룸</td>
                                    <td>81㎡</td>
                                    <td>20</td>
                                    <td>빔프로젝트, 스크린, 음향장비 및 의자, 책상</td>
                                    <td>기본 3시간 24,000원<br>(1시간당 8,000원)</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>교육실(4F)</td>
                                    <td>142㎡</td>
                                    <td>40</td>
                                    <td>빔프로젝트, 스크린, 음향장비 및 의자, 책상</td>
                                    <td>기본 3시간 30,000원<br>(1시간당 10,000원)</td>
                                </tr>
                                <tr> 
                                    <td>3</td>
                                    <td>공용스튜디오(4F)</td>
                                    <td>18㎡~21㎡</td>
                                    <td>6~10</td>
                                    <td>테이블, 의자</td>
                                    <td>시간당 2,000원</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>교육실(5F)</td>
                                    <td>205㎡</td>
                                    <td>70</td>
                                    <td>빔프로젝트, 스크린, 음향장비 및 의자, 책상</td>
                                    <td>기본 3시간 45,000원<br>(1시간당 15,000원)</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="textBox">
                            <p>- 대관신청은 신청은 최대 1달 전, 최소 1주일 전에 신청가능합니다.<br>
                        - 서울새활용플라자 교육 프로그램 운영 및 내부행사일정이 있을 경우 대관이 불가능합니다.<br>           (대관예약페이지에서 확인 가능)<br>
                        - 현재 장기 대관 예약은 받고 있지 않으며, 최소 3시간 기준으로 대관 예약을 받고 있습니다.<br>
                        - (3시간 미만 예약시 기준 3시간 요금 부과) <br>
						- 승인 심사 (3일 소요) 결과는 신청 담당자 이메일로 통보합니다.<br>
                        - 서울새활용플라자의 설립 목적 및 대관 공간 특성상 새활용 관련 교육, 회의, 워크샵 용도 외에는 사용하실 수 없습니다.<br>          (신청서상 정확한 사용 목적이 설명되지 않을 경우 승인 불가)<br>
                        - 1회용품 없는 새활용플라자 만들기와 관련하여 대관 공간 이용시, 1회용품 사용이 제한됩니다.<br>	(1회용 컵, 1회용 생수병, 휴지, 낱개 포장된 다과, 티백 및 음료 등등)<br> 개인 컵, 손수건 등 다회용품 사용을 부탁드립니다.</p>
                        </div>
                    </div>
                </div>
            
        </article>
    </section>
    <!--  //Main section 영역  -->
    </div>
    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/jquery.bxslider.min.js"></script>
   
    <script src="../js/index.js"></script>
</body>