@charset "utf-8";

.block{
	display: block !important;
}
/* ********** 트래킹 CSS 시작 ********** */
#content .container .top_box{
	margin-bottom: 27px;
}
#content .container .top_content{
	background-color: #fff;
	padding: 20px 78px 20px;

	border-radius: 0 0 6px 6px;
}
#content .container .top_content form{}
#content .container .top_content form:after{
	content: '';
	display: block;
	clear: both;
}
#content .container .top_content form div{
	float: left; width: 33.3%;
	padding: 0 3%;
	margin-bottom: 15px;
	position: relative;
}
#content .container .top_content form div p{
	font-family:'KoPud';
	font-size: 1rem;
	color: #7e7e7e;
}
#content .container .top_content form div img{
	position: absolute;
	right: 31px; top: 31px;
}
#content .container .top_content form div input[type="text"]{
	width: 100%; height: 30px;
	background-color: #fbfcff;
	border: 1px solid #7d7d7d;
	font-size: 1rem;
	text-indent: 10px;

	border-radius: 6px;
}

#content .container .top_content form div:last-child{
	float: right;
	text-align: right;
}
#content .container .top_content form div:last-child input{
	width: 150px; height: 30px;
	color: #fff;
	font-weight: bold;
	line-height: 1.5;
	background-color: #9ca7bf;
	border: 0;
	border-radius: 6px;
	cursor: pointer;
	margin-top: 40px;
	border: 1px solid #7d7d7d;
}
#content .container .bottom_box{
	
}
#content .container .bottom_content{
	background-color: #fff;
	padding-bottom: 30px;

	border-radius: 0 0 6px 6px;
}
#content .container .bottom_content > ul > li{
	padding: 15px 0;
	border-bottom: 1px solid #dfdfdf;
}
#content .container .bottom_content .list_title{
	background-color: #f4f5f8;
}
#content .container .bottom_content li:last-child{
	border-bottom: 0;
}
#content .container .bottom_content li:after{
	content: '';
	display: block;
	clear: both;
}
#content .container .bottom_content .list_title span{
	font-weight: bold;
	color: #757575;
}
#content .container .bottom_content .list_title .list_num{
	overflow: hidden;
	text-indent: 9999px;
}
#content .container .bottom_content li span{
	display: block;
	float: left;
	text-align: center;
	font-size: 0.9rem;
	font-family:'KoPud';
	color: #7e7e7e;

	cursor: pointer;
}
#content .container .bottom_content li .list_num{
	width: 6%;
}
#content .container .bottom_content li .list_name{
	width: 8%;
}
#content .container .bottom_content li .list_name2{
	width: 14%;
}
#content .container .bottom_content li .list_id{
	width: 18%;
}
#content .container .bottom_content li .list_invoice{
	width: 18%;
}
#content .container .bottom_content li .list_date{
	width: 16%;
}
#content .container .bottom_content li .list_country1{
	width: 10%;
}
#content .container .bottom_content li .list_country2{
	width: 10%;
}
#content .container .bottom_content li ul{
	display: none;
}
#content .container .bottom_content li .sub_list{
	height: 85px;
	margin: 30px 30px 0;
	background-color: #e5e7ee;
	border-radius: 9px;
}
#content .container .bottom_content li .sub_list:after{
	content: '';
	display: block;
	clear: both;
}
#content .container .bottom_content li .sub_list div{
	height: 100%;
	position: relative;
}
#content .container .bottom_content li .sub_list div p{
	display: inline-block;
	height: 100%;
	line-height: 85px;
	font-size: 0.8rem;
	color: #6A6A6A;
}
#content .container .bottom_content li .sub_list div img{
	margin-left: 30px;
	position: relative;
	top: 2px;
}
#content .container .bottom_content li .sub_list div input[type="text"]{
	height: 30px;
	border-radius: 6px;
	border: 1px solid #d2d2d2;
	position: relative;
	top: 2px;
	margin-left: 20px;

	text-indent: 10px;
}
#content .container .bottom_content li .sub_list div.box1{
	float: left;
	width: 23%;
	padding-left: 5%;
}
#content .container .bottom_content li .sub_list div.box2{
	float: left;
	width: 30%;
}
#content .container .bottom_content li .sub_list div.box3{
	float: right;
}
#content .container .bottom_content li .sub_list div.box3 input{
	position: absolute;
	top: 50%; right: 20px;
	line-height: 1.5;
	cursor: pointer;
	font-size: 0.7rem;

	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
#content .container .bottom_content li .sub_list div.box3 #b1{
	width: 90px; height: 20px;
	border-radius: 4px;
	color: #7e7e7e;
	border: 1px solid #7e7e7e;
	background-color: #f2f3f7;

	right: 85px;
}
#content .container .bottom_content li .sub_list div.box3 #b2{
	width: 60px; height: 20px;
	border-radius: 4px;
	border: 1px solid #7e7e7e;
	color: #fff;
	background-color: #9ca7bf;
}