@charset "utf-8";
@import url(common.css);


/* sub 페이지 메인 이미지*/
/*#section .sub_bg{width: 100%; height: 446px; background:url(../img/introduction/sub_main.png) no-repeat;}*/
#section .sub_bg h3{text-indent: -9999px;}
#section .login.signup{width: 1200px;}
#section .login.id_pw{width:1200px;}
#section .login{width:400px; margin:70px auto 0;}
#section .login.signup2{width:400px; margin:70px auto 0;}
#section .login.signup2 .content_h3bx{margin-bottom:50px;}
#section .login .content_h3bx{background:none;padding:0; margin-bottom:20px;}
#section .login .content_h3bx:after{background-color:#fff; opacity:1;}
#section .login .content_h3bx h3{color:#333; font-size:2rem;}
#section .login .content_h3bx h3:after{background:#333;}
/* 2Depth H3 */
/* .content_h3bx{margin: 100px auto;color: #8f1743;text-align:center}
.content_h3bx h3{position:relative;font-size: 1.687rem;font-weight:500}
.content_h3bx h3::after{content:"";display:block;width:130px;height:3px; background-color: #8f1743; position: absolute; bottom: -20px;left:50%;margin-left:-65px}
.id_pw .content_h3bx h3::after{width:340px;margin-left: -170px}
.fint_id .content_h3bx h3::after{width:160px;margin-left: -80px}
.fint_pw .content_h3bx h3::after{width:200px;margin-left: -100px} */

/* login 페이지 */
#loginForm{width:400px;margin:0 auto}
.loginbx_id{width: 400px;height: 36px;line-height: 36px;margin-top:36px;border-bottom: 1px solid #d3d5d6}
.loginbx_id label{color: #58595b;font-weight: 500; display:none;}
.loginbx_id input{width: 100%;padding: 5px;text-align: left;font-size: 0.8rem;}
.loginbx_pw{width: 400px;height: 36px;line-height: 36px;margin-top:36px;border-bottom: 1px solid #d3d5d6}
.loginbx_pw label{color: #58595b;font-weight: 500; display:none;}
.loginbx_pw input{width: 100%;padding: 5px;text-align: left;font-size: 0.8rem;}
.chk{line-height: 60px;text-align: left;font-size:0.875rem;color: #999}
.chk .check2{margin-right: 5px;position: relative;top: 2px}
.social_login{margin: 30px 0;text-align: right;position: relative;}
.social_login label{position: absolute;left: 0;color: #58595b;font-weight: 500;}
.social_login div a{}
.loginbx_link{margin-top: 30px;margin-bottom: 10px}
.btn_idpw li:first-of-type{float: left;}
.btn_idpw li:last-of-type{float: right}
.btn_idpw li a{font-size:0.875rem;color: #999}
.btn_idpw li a:hover{color:#000;}
.btn_login{width: 100%;height: 46px;background: #fff;border: 1px solid #63b746 !important;font-weight: 800;color: #63b746;text-align: center}

/* 아이디찾기 페이지 */
.find_result{width:400px;margin: 150px auto 0}
.result_id{width: 400px;line-height: 36px;margin-bottom: 100px;border-bottom: 1px solid #d3d5d6}
.result_id p{float: left;font-size: 0.875rem;color: #999}
.result_id p:nth-of-type(1){width: 115px;text-align: left}
.result_id p:nth-of-type(2){width: 230px;text-align: center;font-size:1rem;color: #000}
.result_id p:nth-of-type(3){width: 55px;text-align: right}
.fint_id .result_btn{box-sizing: border-box;margin: 0 auto;}

/* 비밀번호찾기 페이지 */
.result_pw{width: 400px;line-height: 36px;margin-bottom: 100px;border-bottom: 1px solid #d3d5d6;}
.result_pw p{float: left;font-size: 0.875rem;color: #999}
.result_pw p:nth-of-type(1){width: 260px;text-align: left;font-size:1rem;color: #000}
.result_pw p:nth-of-type(2){width: 140px;text-align: right}
.fint_pw .result_btn{width: 100%;height:60px;;box-sizing: border-box;margin:auto 0;}
 .result_btn button{width:100%;margin-bottom:10px;}


/*아이디 찾기 비밀번호 찾기*/
.IdPassword{width:1200px; margin:0 auto;}
.IdPassword form .leftBox{width:600px;float:left; }
.IdPassword form .rightBox{width:600px; float:right;}
.IdPassword form .leftBox .leftBox01, .IdPassword form .rightBox .rightBox01{width:400px; margin:0 auto;}
.IdPassword form .leftBox h3, .IdPassword form .rightBox h3{font-size:1.2rem; font-weight: 500; color::#58595b; text-align: center;}

.IdPassword form .leftBox .name, .IdPassword form .leftBox .e_mail,
.IdPassword form .rightBox .id, .IdPassword form .rightBox .name, .IdPassword form .rightBox .e_mail{
    width: 400px;
    height: 36px;
    line-height: 36px;
    margin-top: 36px;
    border-bottom: 1px solid #d3d5d6}

.IdPassword form .leftBox .name label, .IdPassword form .leftBox .e_mail label,
.IdPassword form .rightBox .id label, .IdPassword form .rightBox .name label,.IdPassword form .rightBox .e_mail label{color:#58595b;}

.IdPassword form .leftBox .name input,.IdPassword form .leftBox .e_mail input,
.IdPassword form .rightBox .id input, .IdPassword form .rightBox .name input, .IdPassword form .rightBox .e_mail input{
    width: 200px;
    padding: 5px;
    float:right;
    text-align: right;}

.IdPassword form .leftBox .leftBox01 .btn button,.IdPassword form .rightBox .rightBox01 .btn button{width:400px; height: 46px; font-weight: 700; background-color:#bfbfbf; color:#fff;}
.IdPassword form .leftBox .leftBox01 .btn{margin-top:115px;}
.IdPassword form .rightBox .rightBox01 .btn{margin-top:40px;}


/* 회원가입 입력폼 */
.wTable{
	width: 100%;
}
.wTable:first-child{
	margin-bottom: 70px;
}
.wTable tr:first-of-type{
	height: 70px;
}
.wTable tr th{
	font-size: 20px;
	font-weight: bold;
}

#useStplatCn{
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	font-size: 14px;
	box-sizing:border-box;
}

#infoProvdAgeCn{
	width: 100%; height: 276px;
	border: 1px solid #A9A9A9;
	margin-bottom: 15px;
	padding: 10px;
	font-size: 14px;
	box-sizing:border-box;

	overflow-y: scroll;
}
.text_agree,
.text_agree td,
.text_agree th{border: 1px solid #ccc;}
.text_agree td{
	padding: 10px;
}

.text_agree tr:first-of-type td{
	background-color: #ccc;
	border: 1px solid #666;	
}




.btn{
	text-align: center;
	margin-top: 50px;
}
.btn_s2{
	width: 16%;
	height: 100%;
	display: block;
	float: right;
	font-size: 12px;
	font-family: "Noto Sans KR",sans-serif;
	font-weight: bold;
	background-color: #fff;
	color: #63b746;
	border: 1px solid #63b746;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
#span{
	display: block;
	font-size: 12px;
}
.btn_s2{
	width:15%;
	margin-top:-35px;
}
.btn_s2:hover{
	color: #fff;
	background-color: #63b746;
}
.s_submit{
	width: 300px; height: 60px;
	line-height: 1;
	background: #fff;
	border: 1px solid #63b746;
	color: #63b746;
	cursor: pointer;
	font-size: 1.188rem;
}

/* .signup2 .form_box ul{
	margin-bottom: 120px;	
} */
.signup2 .form_box li{
	height: 35px;
	border-bottom: 1px solid #d7d7d7;
	margin-bottom: 40px;

	box-sizing: border-box;
}
.signup2 .form_box li:last-child{
	margin-bottom: 0;
}
.signup2 .form_box li:after{
	content: '';
	display: block;
	clear: both;
}
.signup2 .form_box li p{
	float: left;
	width: 25%; height: 35px;
	line-height: 35px;
}
.signup2 .form_box li p:nth-of-type(1){
	color: #58595b;
	font-weight: bold;
	font-size: 14px;
}
.signup2 .form_box li p.id_check_btn{
	float: right;
	width: 80px; height: 35px;
	line-height: 29px;
	border: 3px solid #d7d7d7;
	text-align: center;
	font-size: 14px;
	color: #58595b;

	box-sizing: border-box;
	cursor: pointer;
}
.signup2 .form_box li input{
	width: 60%; height: 35px;
	background-color: transparent;
	border: 0;
	font-size:14px;
	color:#000;
}

.signup2 .form_box li input[type="radio"] {
	width: 25%; height: 15px;
	background-color: transparent;
	border: 0;	
	font-size:10px;
	color:#000;
}

.signup2 .btn{}
.signup2 .btn input{
	color: #63b746;
	background-color: #fff;
	border: 1px solid #63b746;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
}

.btn_h{text-align: center;margin-top:15px;}
/* 마이페이지 */
/* .mypage{width: 1200px;margin: 90px auto 0} */
/* .mypage .content_h3bx{position: relative}
.mypage .content_h3bx h3.tab{width:131px;display: inline-block;text-align: center;cursor: pointer}
.mypage .content_h3bx h3::after{content:"";display:block;width:136px;height:8px; background-color: #fff; position: absolute; bottom: -20px;left:50%;margin-left:-66px;border-top: 2px solid #8f1743;border-bottom: 2px solid #8f1743;box-sizing: border-box}
.mypage .content_h3bx h3.tab1::after{border-left: 2px solid #8f1743}
.mypage .content_h3bx h3.tab3::after{border-right: 2px solid #8f1743}
.mypage .content_h3bx h3.tabOn::after{background-color: #8f1743}*/
.mypage .content_h3bx h3:after{display:none;}
.mypage .content_h3bx h3.tabOn:after{
	content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 4px;
    background: #63b746;
}
.mypage .content_h3bx{
	width:500px;
	overflow:hidden;
	margin: 0 auto;
	margin-bottom:100px;
	margin-top:25px;
	background:none;
	padding:0;
}
.mypage .content_h3bx .tab{
	width:33.3%; height:50px;
	float:left;
	font-size:1.125rem;
	color:#333;
}
.qna_faq .tab_box{width: 1200px;margin:0 auto;}
.mypage .content_h3bx2 .tab_box{width: 1200px;margin:0 auto;display: none}
.mypage .content_h3bx2 .tab_box1{width: 630px;margin: 0 auto;text-align: left;font-size: 1.06rem;color: #58595b;display: block;}
.mypage .content_h3bx2 .tab_box1 ul li{}
#mypage_wrap .mypage .content_h3bx2 .tab_box1 ul li p{width: 24%;line-height: 36px;float: left;/*font-weight: 700;*/font-size:14px;color: #959595}
.mypage .content_h3bx2 .tab_box1 ul li input{width: 76%;line-height: 1;float: left;font-weight: 700}
.mypage_table table{width: 80%;margin:0 auto;text-align: center;color: #58595b;table-layout:fixed;	}
.mypage_table thead{border-bottom: 1px solid #d0d2d3;font-size: 1.25rem;color: #929497}
.mypage_table thead th{height: 50px;vertical-align: middle; font-size:1rem;}
.mypage_table tbody{border-bottom: 2px solid #d0d2d3}
.mypage_table tbody tr{border-bottom: 1px solid #eee; font-size:0.875rem;color: #58595b}
.mypage_table tbody tr td{height: 86px;vertical-align: middle;text-overflow:ellipsis; overflow:hidden;}
.mypage_table tbody tr:first-of-type{}
.mypage_table tbody tr:last-of-type{}
.mypage_table tbody tr th,
.mypage_table tbody tr td{vertical-align: middle;height: 60px;}
.mypage_table tbody tr th:nth-child(2){padding-left: 40px;text-align: left;}
.mypage_table tbody .txt_align_left{padding-left: 30px;text-align: left}
.mypage_table button{width: 80px;height: 35px;box-sizing: border-box; background: #fff;font-size: 0.75rem;padding:0;}
.mypage_table .page_numbx{margin-top: 50px;text-align: center}
.mypage_table .page_num{text-align: center}
.mypage_table .page_num li{line-height: 2rem;margin: 0 5px;display: inline-block;vertical-align: middle;font-size: 1.25rem;color: #000}
.mypage_table .page_num li:first-of-type, .mypage_table .page_num li:last-of-type{font-size: 2rem;color: #d0d2d3}
.color_ed1c24{color: #ed1c24}


/* 고객센터 */
.mypage .content_h3bx.qa .tab{width:49%}
/* .qna_faq .content_h3bx h3.tab2::after{border-right: 2px solid #8f1743}
.qna_faq .content_h3bx .tab_box1{width: 100%; margin: 0 auto} */
.qna_faq .tab_box1 .tab_faq{display: inline-block;width: 80px;text-align: center;cursor:pointer;}
.qna_faq .tab_box1 .tab_faq1{margin-left: 50px}
.qna_faq .tab_box1 .tab_faq.tab_on{font-weight: 700;margin-bottom:2%;}
.qna_faq .tab_box1 .tab_faqbx{width: 100%;margin-top: 25px;display:none;}
.qna_faq .tab_box1 .tab_faqbx1{display: block;}
.qna_faq .tab_box1 .tab_faqbx ul{padding: 20px 0; border-top: 3px solid #d0d2d3; border-bottom: 3px solid #d0d2d3}
.qna_faq .tab_box1 .tab_faqbx ul li{width: auto; height: 80px; margin: 0 15px; padding: 22px 0; border-bottom: 1px solid #eee;}
.qna_faq .tab_box1 .tab_faqbx ul li:last-of-type{border-bottom: 0}
.q_area{width: 100%; height: 40px; line-height: 40px;font-weight: 500}
.q_area p, .a_area p{float: left; width: 1050px;white-space:pre-line;}
.q_area p.qna_txt, .a_area p.qna_txt{float: left; width: 95px; margin-right: 25px;text-align: center}
.a_area{width: 100%; height: 40px; line-height: 40px; font-weight: 300}
..a_area p{font-weight: 400}
.qna_faq .tab_box{font-size: 1.06rem; color: #58595b;display:none;}
.qnabx{padding-left: 50px; padding-right: 50px; width:60%;margin:0 auto;}
/*QnA 폼 수정*/
/* .qna_faq #frm{width:100%;border-top: 3px solid #d0d2d3;border-bottom: 3px solid #d0d2d3;} */
.qnabx p{width:30%; line-height: 36px; float: left; font-weight: 500; text-align: left;padding-right: 10px;
    box-sizing: border-box;}
.qnabx .qna_input1{height: 36px; padding-top: 30px; border-bottom: 1px solid #d0d2d3}
.qnabx .qna_input2{width:100%; padding-top: 30px}
.qnabx .qna_input2 li{width: 100%; border-bottom: 1px solid #d0d2d3;line-height: 36px;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;margin-bottom: 30px;}
.qnabx .qna_input3{padding-top: 30px}
.qnabx .qna_input3 textarea{width: 100%; height: 325px; padding: 15px; border: 2px solid #d0d2d3; box-sizing: border-box}
.qnabx .qna_input4{height: 70px; line-height: 70px; margin-left: 10px;border-bottom: 1px solid #d0d2d3}
.qnabx .qna_input4 p{line-height: 70px; position: relative}
.qnabx .qna_input4 p::after{content:"";display:block;width:2px;height:18px; background-color: #58595b; position: absolute; bottom: 25px;right: 0}
.qnabx .qna_input4 .fileName {float: left;width:40%;line-height:68px}
.qnabx .qna_input4 .btn_file {    float: right;border: 2px solid #d0d2d3; width: 30%;height: 70%;line-height: 45px;text-align: center;box-sizing: border-box; margin-top: 12px;}
.qnabx .qna_input4 input[type="file"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;display: none;}




/* 후기쓰기 */
.mypage_review_form .tab_box2 h4{line-height: 60px;font-size: 1.875rem;font-weight: 500;text-align: left; text-indent: 20px; color: #333}
.mypage_review_form p{color: #333}

/* 후기보기 */
.mypage_review_form .view_info{line-height: 45px;color: #333}
.mypage_review_form .view_info li{float: left;position: relative;text-align: center;font-size: 0.875rem}
.mypage_review_form .view_info li:first-of-type{width:110px;font-size: 0.687rem;text-align: left}
.mypage_review_form .view_info li:first-of-type img{margin-left: 3px;margin-right: 15px}
.mypage_review_form .view_info li:nth-of-type(2){text-indent: 45px;font-weight: 700}
.mypage_review_form .view_info li:nth-of-type(2)::before{content:"";display:block;width:2px;height:14px; background-color: #6b6b6b; position: absolute;top: 18px}
.mypage_review_form .view_info li:last-of-type{float: right}
.mypage_review_form .view_info li .font_bold{margin-right: 10px; font-weight: 500}
.mypage_review_form .view_info li:nth-of-type(2) input{width: 110px}
.mypage_review_form .view_info li:nth-of-type(3) input{width: 550px}

.id label, .name label, .e_mail label{width: 100px; display: block; float: left;}
#name, #email, #id1, #name1, #e_mail1{float:none;text-align:left;width:calc(100% - 100px);}


@media all and (max-width:1201px){
	
	#section .login.signup{
		width: 100%;
	}

	.wTableFrm{
		width: 90%; margin: auto; 
	}

	.mypage{
		width: 100%;
	}

	.qna_faq .tab_box{
		width: 90%; margin: auto;
	}
	.qnabx .qna_input1 input{
		width: 70%;
	}

	.q_area p.qna_txt, .a_area p.qna_txt{
		width: 10%;
		margin-right: 0;
	}

	.q_area p, .a_area p{
		width: 90%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.mypage .content_h3bx2 .tab_box2,
	.mypage .content_h3bx2 .tab_box3{
		width: 90%; margin: auto;
	}

}





@media all and (max-width:768px){

	.qnabx{width:100%;margin:0 auto;}
	.qna_faq .tab_box1 .tab_faq{
		width: 20%;
		margin: 0;
	}

	.qnabx{
		padding: 0;
	}

	.qnabx .qna_input2{
		height: auto;
		padding: 0;
	}
	.qnabx .qna_input2 li{
		float: none;
		width: 100% !important; height: 36px;
		margin-top: 30px;
	}

	.mypage .content_h3bx2 .tab_box1{
		width: 90%;
	}

	.mypage_table button{
		width: 100%;
	}

	.mypage_table thead{
		font-size: 1rem;
	}
	.mypage_table tbody tr{
		font-size: 0.9rem;
	}

}



@media all and (max-width:480px){
	
	.mypage .content_h3bx{
	width:100%;}
	.btn_s2 {
    margin-top: -37px;
	}
	#section .login.signup2{
		width: 100%;
	}

	#section .login.signup2 .form_box{
		width: 90%; margin: auto;
	}
	
	#section .login{
		width: 100%;
	}
	#loginForm{
		width: 90%;
	}

	.login_form ul li{
		width: 100% !important;
	}

	.loginbx_pw input,
	.loginbx_id input{

	}

	.s_submit{
		width: 100%;
	}

	.signup2 .form_box li p{
		width: 30%;
	}

	.signup2 .form_box li input{
		width: 70%;
	}

	.qna_faq .tab_box1 .tab_faq{
		display: block;
		width: 100%;
		text-align: center;
		margin: 5px 0;
	}

	.qnabx button{width:100%}

	#mypage_wrap .mypage .content_h3bx2 .tab_box1 ul li p{
		width: 35%;
	}

	.mypage .content_h3bx2 .tab_box1 ul li input{
		width: 65%;
	}
	#section .login.id_pw, .IdPassword{width:100%;}
	.IdPassword form .leftBox, .IdPassword form .rightBox{float:none;width:80%;margin:0 auto;padding-bottom:50px;border-bottom:1px dashed #eee;}
	 .IdPassword form .rightBox{margin-top:50px;border-bottom:0;}
	.IdPassword form .leftBox .leftBox01, .IdPassword form .rightBox .rightBox01{width:100%;}
	.IdPassword form .leftBox .leftBox01 .btn{}
	#section .login .content_h3bx h3{font-size:1.5em;}
	.IdPassword form .leftBox .name, .IdPassword form .leftBox .e_mail, .IdPassword form .rightBox .id, .IdPassword form .rightBox .name, .IdPassword form .rightBox .e_mail{width:100%;font-size:0.9em;}
	.IdPassword form .leftBox .leftBox01 .btn{margin-top:50px;}
	.id label, .name label, .e_mail label{width:70px;}
	#name, #email, #id1, #name1, #e_mail1{width:calc(100% - 70px);}



}