@charset "utf-8";체험
@import url(common.css);

input, select, textarea{
	outline: none !important;
}
/* sub 페이지 메인 이미지*/
#section .sub_bg{width: 100%; height: 446px; background:url(../img/display/display_main_bg.png) no-repeat;}
#section .sub_bg h3{text-indent: -9999px}학습
/* #section .Display{max-width:1200px;width:90%; margin:90px auto 0} */


/* 2Depth H3 */
/* .content_h3bx{margin: 100px auto;color: #8f1743;text-align:center}
.content_h3bx h3{position:relative;font-size: 1.687rem;font-weight:500}
.content_h3bx h3::after{content:"";display:block;width:190px;height:1px; background-color: #8f1743; position: absolute; bottom: -15px;left:50%;margin-left:-95px}
.h3_icon{width: 76px;margin:75px auto 150px;position:relative;text-align: center;}
.h3_icon::after{content:"";display:block;width:85px;height:4px; background-color: #8f1743; position: absolute; bottom: -45px;left:50%;margin-left:-42px} */


/* Display_1 */
.Display{}
.Display .content_text{
	margin-bottom: 40px;
}
.Display .content_text p{
	text-align: center;
	font-size:1.2rem;
	color: #63b746;
	letter-spacing: -0.5px;
	font-weight: 300;
}

.Display .slide_thumbnail{
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
	position: relative;
}

.Display .slide_thumbnail span{
	display: inline-block;
}
.Display .slide_thumbnail img{
	width: 121px; height: 68px;
	cursor: pointer;
}

.Display .slide_thumbnail .prev,
.Display .slide_thumbnail .next{
	width: 50px;
	height: 100%;
	background-color: #8f1843;
	vertical-align: top;
	color: #fff;
	text-align: center;
	line-height: 60px;
	font-size: 3rem;
	cursor: pointer;
}
.Display .slide_thumbnail .prev{
	position: absolute;
	left: 0;
}
.Display .slide_thumbnail .next{
	position: absolute;
	right: 0;
}

#section .Display:after{
	content:'';
	display: block;
	clear: both;
}

.Display .text_box{
	width:100%;
    max-width: 1170px;
    margin-top: 30px;
    margin-bottom: 70px;
	box-sizing: border-box;
	/* border: 1px solid #ccc;
	    border-radius: 10px; */
    text-align: center;
    margin: 0 auto;
	/*border-bottom:1px solid #c8c8c8;*/
}
.Display .text_box thead tr{height: 50px; border-top:1px solid #d0d2d3; border-bottom:1px solid #d0d2d3; font-size:0.875rem; color:#929497;}
.Display .text_box thead tr th:nth-child(1){width:5%;}
.Display .text_box tbody tr td{height:47px; border-top:1px solid #dcdcdc;; font-size:0.875rem; color:#58595b; text-align: center;}
.Display .text_box tbody tr:nth-child(1) td{border-top:none;}
.Display .text_box tbody tr:nth-child(2) td{border-top:1px solid #646464;}
.Display .text_box tbody tr .last_td{border-left:1px solid #dfe0e1;}
.Display .text_box .width{width: 88px;}

.Display .text_box .text_box_inside{
	display:inline-block;
	padding:20px 24px;
}
.Display .text_box p{
	font-size: 1rem;
	color: #58595b;
	/* font-weight: 500; */
	padding:2px 0;
}
.Display .text_box p span.red_star{
	color: red;
}


/* 공간안내 카페 */
.Cafe{}
.Cafe .cafe_menu{
	width: 953px; margin: auto;
	margin-top: 100px;
	border-top: 1px solid #ddd;
	padding-top: 30px;
}
.Cafe .cafe_menu h4{
	color: #DE3961;
	font-size: 1.1rem;
	margin-bottom: 30px;
	font-weight: bold;
}
.Cafe .cafe_menu .img_box{
	text-align: center;
}

/* 공간안내 레스토랑 */
.Restrant{}
.Restrant .Restrant_menu{
	width: 953px; margin: auto;
	margin-top: 100px;
	border-top: 1px solid #ddd;
	padding-top: 30px;
}
.Restrant .Restrant_menu h4{
	color: #DE3961;
	font-size: 1.1rem;
	margin-bottom: 30px;
	font-weight: bold;
}
.Restrant .Restrant_menu .img_box{
	text-align: center;
}



@media all and (max-width:1201px){
	.sub_slider{
		
	}

}


@media all and (max-width:1170px){
	
	.sub_slider>.navContainer>.rightClass{
		right: 0;
	}
	.sub_slider>.navContainer>.leftClass{
		left: 2.2%;
	}
	.Display .text_box{max-height:initial;}

}

@media all and (max-width:960px){
	.Display .text_box tbody tr td{font-size:12px;}

	.Display .text_box tbody tr th{font-size:14px;}

	.Display .text_box tbody tr td {height: 42px;}
	

}


@media all and (max-width:800px){

	.Display .slide_thumbnail{
		height: 85px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 17px;
		overflow: hidden;
		overflow-x: scroll;
		white-space: nowrap;
		box-sizing: border-box;

		-webkit-overflow-scrolling: touch;
	}

	.Display .text_box tbody tr td{font-size:10px;}

	.Display .text_box tbody tr th{font-size:12px;}

}




@media all and (max-width:768px){
	
	

}


@media all and (max-width:480px){
	

	.sub_slider{
		overflow: hidden;
	}
	.sub_slider>.navContainer>.leftClass, 
	.sub_slider>.navContainer>.rightClass{
		height: 100%;
		width: 46px;
		background-position-x: 27px;
		position: absolute;
		background-size: 80%;
		opacity: 0.6;
	}
	.sub_slider>.navContainer>.leftClass{
		left: -21.8px;
	}
	.sub_slider>.navContainer>.rightClass{
		right: -25px;
		background-position-x: -18px;
	}

	.Display .content_text p{
		width: 90%; margin: auto;
		font-size: 1.2rem;
	}

	

}

@media all and (max-width:414px){
	.Display .text_box tbody tr th{font-size:10px;}
	

}

@media all and (max-width:360px){
	.Display .text_box tbody tr td{font-size:8px;}

	.Display .text_box tbody tr th{font-size:8px;}

	.Display .text_box tbody tr td {height: 38px;}

	.text_box_inside {width: 90% !important;}
	
	

}

@media all and (max-width:320px){

	.text_box_inside {width: 100% !important;}
	
	.Display .text_box .text_box_inside{padding: 0px 0px;box-sizing: border-box;}

}